<style>
    .card-img-top {
        max-width: 100%;
        max-height: 200px;
        object-fit: contain;
    }
</style>
<div class="card mx-auto h-100 swiper-slide">
    {{ product.featured_media | img_url: 'master' | img_tag: 'card-img-top' }}
    <div class="card-body">
        <h5 class="card-title">{{ product.price | money_with_currency }}</h5>
        <a href="{{ product.url }}"><p class="card-text h4 mb-3">{{ product.title }}</p></a>
        <a href="#" class="btn btn-warning">Ver detalles</a>
    </div><!-- /card-body -->
</div><!-- /card -->