<section>
	<div class="container my-5 py-5">
		<div class="row">
			<div class="col-md-7 mx-auto">
				<div class="login-form-wrapper p-5 bg-light border">
					<h3>Create Account</h3>
					<div class="login-form mt-4">
						{% form 'create_customer' %}
							{% if form.errors.size > 0 %}
								<div class="alert alert-danger">{{ form.errors | default_errors }}</div>
							{% endif %}
							<div class="form-floating mb-3">
								<input type="text" name="customer[first_name]" id="firstname" class="form-control" required placeholder="First Name">
								<label for="firstname">First Name</label>
							</div>
							<div class="form-floating mb-3">
								<input type="text" name="customer[last_name]" id="lastname" class="form-control" required placeholder="Last Name">
								<label for="lastname">Last Name</label>
							</div>
							<div class="form-floating mb-3">
								<input type="email" name="customer[email]" id="email" class="form-control" required placeholder="Email">
								<label for="email">Email</label>
							</div>
							<div class="form-floating mb-3">
								<input type="password" name="customer[password]" id="password" class="form-control" required placeholder="Password">
								<label for="password">Password</label>
							</div>
							<div class="form-links text-center d-flex align-items-center flex-column mt-4">
								<input type="submit" value="Create" class="btn btn-warning btn-lg">
							</div>
						{% endform %}
					</div><!-- /login-form -->
				</div><!-- /login-form-wrapper -->
			</div><!--/.col-md-7-->
		</div><!-- /row -->
	</div><!-- /container -->
</section>
