<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}

{% comment %}
The following are the basic input setting types:

checkbox
number
radio
range
select
text
textarea

The following are the specialized input setting types:

article
blog
collection
color
color_background
font_picker
html
image_picker
link_list
liquid
page
product
richtext
url
video_url



product.available
product.collections
product.compare_at_price
product.compare_at_price_max
product.compare_at_price_min
product.compare_at_price_varies
product.content
product.created_at
product.description
product.featured_image
product.featured_media
product.first_available_variant
product.gift_card?
product.handle
product.has_only_default_variant
product.id
product.images
product.media
product.options
product.options_by_name
product.options_with_values
product.price
product.price_max
product.price_min
product.price_varies
product.published_at
product.requires_selling_plan
product.selected_variant
product.selected_or_first_available_variant
product.selected_or_first_available_selling_plan_allocation
product.selected_selling_plan
product.selected_selling_plan_allocation
product.selling_plan_groups
product.tags
product.template_suffix
{% endcomment %}