<div class="container">
    <div class="header-blog">
        <h2>BLOG TITLE</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dignissimos quasi possimus, cupiditate iusto deleniti. Quam, possimus voluptatibus. Dolores non quidem error aut amet debitis, praesentium quod voluptatem deleniti veritatis!</p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="post-wrapper d-flex">
                {{ 'product-4' | placeholder_svg_tag: 'w-100' }}
                <div class="description">
                    <h4><strong>Title post</strong></h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et veniam, dolore exercitationem iusto, eligendi distinctio, amet est molestias omnis minima ullam explicabo. A corrupti tenetur modi. Temporibus mollitia totam cupiditate?</p>
                    <a href="#0" class="btn btn-warning">Read Post</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="post-wrapper d-flex">
                {{ 'product-4' | placeholder_svg_tag: 'w-100' }}
                <div class="description">
                    <h4><strong>Title post</strong></h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et veniam, dolore exercitationem iusto, eligendi distinctio, amet est molestias omnis minima ullam explicabo. A corrupti tenetur modi. Temporibus mollitia totam cupiditate?</p>
                    <a href="#0" class="btn btn-warning">Read Post</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="post-wrapper d-flex">
                {{ 'product-4' | placeholder_svg_tag: 'w-100' }}
                <div class="description">
                    <h4><strong>Title post</strong></h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et veniam, dolore exercitationem iusto, eligendi distinctio, amet est molestias omnis minima ullam explicabo. A corrupti tenetur modi. Temporibus mollitia totam cupiditate?</p>
                    <a href="#0" class="btn btn-warning">Read Post</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="post-wrapper d-flex">
                {{ 'product-4' | placeholder_svg_tag: 'w-100' }}
                <div class="description">
                    <h4><strong>Title post</strong></h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et veniam, dolore exercitationem iusto, eligendi distinctio, amet est molestias omnis minima ullam explicabo. A corrupti tenetur modi. Temporibus mollitia totam cupiditate?</p>
                    <a href="#0" class="btn btn-warning">Read Post</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/.container-->