<div class="container">
    <div class="map my-5 py-5">
		<div class="container">
			<h2>Our location</h2>
			<div class="container-map w-100">
				{% if section.settings.our_location.size > 0 %}
					{{ section.settings.our_location }}
				{% else %}
					<iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.19062066636!2d-90.53273738471634!3d14.588211381290186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a15f18a23e65%3A0xa8d9f9b1ae2d4eca!2sLa%20Aurora%20International%20Airport!5e0!3m2!1sen!2sgt!4v1639764322286!5m2!1sen!2sgt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				{% endif %}
			</div><!-- /container -->
		</div><!-- /container-map -->
	</div><!-- /map -->
</div>

{% schema %}
{
    "name": "Location",
	"tag": "section",
    "settings": [
        {
            "type": "html",
            "id": "our_location",
            "label": "Paste iframe map"
        }
    ]
}
{% endschema %}