<style>
    img {
        min-height: 200px;
        max-height: 200px;
        object-fit: contain;
    }

    .button-slider {
        position: relative;
        text-align: end;
    }

    .button-slider button svg {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .glider-prev,
    .glider-next {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
        left: auto;
        right: auto;
    }

    .button-slider .glider-prev {
        top: 0;
        left: auto;
        right: 0;
    }

    .glider-dot.active {
        background: #ffc107;
    }
</style>

<div class="container my-5">
    <div class="heading text-center">
        <h3 class="mt-5 bg-dark rounded-pill d-inline-block py-2 px-5 text-white text-center">{{ section.settings.collection_heading }}</h3>
    </div>

    {% if section.settings.collection_view == 'card' %}

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5 mt-3">
            {% for product in collections[section.settings.featured_collection].products limit: section.settings.collection_products_to_show %}
                {% if product.available %}
                    <div class="col">
                        {% render 'mundofonn-product-card' product: product %}
                    </div><!-- /col-12 -->
                {% endif %}
            {% endfor %}
        </div><!-- /row -->

    {% elsif section.settings.collection_view == 'slider' %}

        <div class="glider-contain">
            <div class="button-slider mb-3">
                <button aria-label="Previous" class="glider-prev bg-warning ms-3"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" class="svg-inline--fa fa-chevron-left fa-w-10" color="white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg></button>
                <button aria-label="Next" class="glider-next bg-warning ms-3"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10" color="white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg></button>
            </div><!--/.button-slider-->
            <div class="glider-products" id="glider-products-id" data-collectionId="{{ section.id }}">
                {% for product in collections[section.settings.featured_collection].products limit: section.settings.collection_products_to_show %}
                    {% if product.available %}
                        {% render 'mundofonn-product-card' product: product %}
                    {% endif %}
                {% endfor %}
            </div><!--/.glider-->

            <div class="dots"></div><!-- /dots -->
        </div><!-- /glider-contain -->
    {% endif %}
</div><!-- /container -->

{% schema %}
{
    "name" : "t:sections.mundofonn-featured-collection.name",
    "tag" : "section",
    "settings" : [
        {
            "type" : "select",
            "id" : "collection_view",
            "label" : "t:sections.mundofonn-featured-collection.settings.collection_view.label",
            "options" : [
                {
                    "value" : "card",
                    "label" : "t:sections.mundofonn-featured-collection.settings.collection_view.option__1"
                },
                {
                    "value" : "slider",
                    "label" : "t:sections.mundofonn-featured-collection.settings.collection_view.option__2"
                }
            ]
        },
        {
            "type" : "collection",
            "id" : "featured_collection",
            "label" : "t:sections.mundofonn-featured-collection.settings.featured_collection.label"
        },
        {
            "type" : "text",
            "id" : "collection_heading",
            "label" : "t:sections.mundofonn-featured-collection.settings.collection_heading.label",
            "default" : "My Collection Heading"
        },
        {
            "type" : "number",
            "id" : "collection_products_to_show",
            "label" : "t:sections.mundofonn-featured-collection.settings.collection_products_to_show.label",
            "default" : 8
        }
    ],
    "presets": [
        {
            "name": "Featured Collection",
            "settings": {
                "collection_view": "card",
                "featured_collection": "smartphones",
                "collection_heading": "Collection Heading Preset"
            }
        }
    ]
}
{% endschema %}