<section>
    <div class="container">
        <div class="row my-5 py-5">
            <div class="col-md-6">
                <div class="bg-light p-5 rounded-3 border">
                    <h4 class="text-center mb-5">Enter the password to view the store</h4>
                    {% unless shop.password_message == blank %}
                        <p>{{ shop.password_message }}</p>
                    {% endunless %}
                    <div class="password-form">
                        {% form 'storefront_password' %}
                            {{ form.errors | default_errors }}
                            <div class="form-floating mb-4">
                                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <div class="submit">
                                <input type="submit" class="w-100 btn btn-warning" value="Enter Site">
                            </div>
                        {% endform %}
                    </div><!-- /password-form -->
                </div><!-- /bg-light -->
            </div><!-- /col -->
            <div class="col-md-6">
                <div class="bg-light p-5 rounded-3 border">
                    <h4 class="text-center mb-5">Subscribe to know all the products!</h4>
                    <div class="password-form">
                        {% form 'customer' %}
                            {{ form.errors | default_errors }}

                            <div class="tags">
                                <input type="hidden" name="contact[tags]">
                            </div>
                            <div class="form-floating mb-4">
                                <input type="email" name="contact[email]" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email</label>
                            </div>
                            <div class="submit">
                                <input type="submit" class="w-100 btn btn-outline-warning text-dark" value="Sign In">
                            </div>
                        {% endform %}
                    </div><!-- /password-form -->
                </div><!-- /bg-light -->
            </div>
        </div>
    </div><!-- /container -->
</section>