<div class="container">
	{% for block in section.blocks %}
		{% case block.type %}
			{% when 'announcement' %}
				<div class="alert {{ block.settings.size_announcement }} {{ block.settings.color_announcement }} {{ block.settings.text_alignment }} ">
					{{ block.settings.announcement_text }}
				</div><!-- /alert -->
		{% endcase %}
	{% endfor %}
</div><!-- /container -->

{% schema %}
{
	"name": "t:sections.mundofonn-announcement-bar.name",
	"tag": "section",
	"class": "section-announcement-bar",
	"blocks": [
		{
			"name": "t:sections.mundofonn-announcement-bar.blocks.name",
			"type": "announcement",
			"settings": [
				{
					"type": "text",
					"id": "announcement_text",
					"label": "t:sections.mundofonn-announcement-bar.blocks.settings.announcement_text.label",
					"default": "Hola mundo!"
				},
				{
					"type": "select",
					"id": "text_alignment",
					"label": "t:sections.mundofonn-announcement-bar.blocks.settings.text_alignment.label",
					"options": [
						{
							"value": "text-start",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.text_alignment.option__1"
						},
						{
							"value": "text-center",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.text_alignment.option__2"
						},
						{
							"value": "text-end",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.text_alignment.option__3"
						}
					],
					"default": "text-start"
				},
				{
					"type": "select",
					"id": "color_announcement",
					"label": "t:sections.mundofonn-announcement-bar.blocks.settings.color_announcement.label",
					"options": [
						{
							"value": "alert-primary",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.color_announcement.option__1"
						},
						{
							"value": "alert-secondary",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.color_announcement.option__2"
						},
						{
							"value": "alert-danger",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.color_announcement.option__3"
						},
						{
							"value": "alert-success",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.color_announcement.option__4"
						},
						{
							"value": "alert-warning",
							"label": "t:sections.mundofonn-announcement-bar.blocks.settings.color_announcement.option__5"
						}
					],
					"default": "alert-primary"
				},
				{
					"type": "select",
					"id": "size_announcement",
					"label": "t:sections.mundofonn-announcement-bar.blocks.settings.size_announcement.label",
					"options": [
						{
							"value": "h1",
							"label": "xxl"
						},
						{
							"value": "h2",
							"label": "xl"
						},
						{
							"value": "h3",
							"label": "lg"
						},
						{
							"value": "h4",
							"label": "md"
						},
						{
							"value": "h5",
							"label": "sm"
						},
						{
							"value": "h6",
							"label": "xs"
						}
					],
					"default": "h6"
				}
			]
		}
	],
	"default": {
		"blocks": [
			{
				"type": "announcement"
			},
			{
				"type": "announcement"
			}
		]
	}
}
{% endschema %}


