<div class="{{ section.settings.container_type }}">
	<div class="row">
		<div class="col-12">
			<h2 class="text-center mb-4">{{ page.title }}</h2>
		</div>
		<div class="col-12">
			{{ page.content }}
		</div>
	</div>
</div><!--/.container-->

{% schema %}
{
	"name": "Main Page Content",
	"tag": "section",
		"settings": [
			{
			"type": "select",
			"id": "container_type",
			"label": "Container Type",
			"options": [
				{
					"value": "container",
					"label": "Container"
				},
				{
					"value": "container-fluid",
					"label": "Container Fluid"
				}
		],
		"default": "container"
		}
	] 
}
{% endschema %}