<style>

    /* .input-group {
        width: fit-content;
    } */
</style>
<div class="container">
    <h1 class="text-center">Shopping Cart</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ 'product-1' | placeholder_svg_tag }}</td>
                <td>$200</td>
                <td>
                <div class="input-group">
                    <button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
                    <input type="text" name="quantity" value="1" class="form-control input-group-text quantity">
                    <button type="button" class="btn btn-secondary form-control btn-increase">+</button>
                </div>
                </td>
                <td>$200</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{ 'product-1' | placeholder_svg_tag }}</td>
                <td>$200</td>
                <td>
                <div class="input-group">
                    <button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
                    <input type="text" name="quantity" value="1" class="form-control input-group-text quantity">
                    <button type="button" class="btn btn-secondary form-control btn-increase">+</button>
                </div>
                </td>
                <td>$200</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{ 'product-1' | placeholder_svg_tag }}</td>
                <td>$200</td>
                <td>
                <div class="input-group">
                    <button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
                    <input type="text" name="quantity" value="1" class="form-control input-group-text quantity">
                    <button type="button" class="btn btn-secondary form-control btn-increase">+</button>
                </div>
                </td>
                <td>$200</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>{{ 'product-1' | placeholder_svg_tag }}</td>
                <td>$200</td>
                <td>
                <div class="input-group">
                    <button type="button" class="btn btn-secondary form-control btn-decrease">-</button>
                    <input type="text" name="quantity" value="1" class="form-control input-group-text quantity">
                    <button type="button" class="btn btn-secondary form-control btn-increase">+</button>
                </div>
                </td>
                <td>$200</td>
            </tr>
        </tbody>
    </table>
</div><!-- /container -->