<div class="container">
    <p class="mt-5 display-6 bg-dark rounded-pill d-inline-block py-3 px-5 text-white">Collection Heading</p>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="width: 18rem;">
                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-warning">Ver detalles</a>
                </div><!-- /card-body -->
            </div><!-- /card -->
        </div><!-- /col-12 -->
    </div><!-- /row -->
</div><!-- /container -->