<div class="container my-5">
    <p class="mt-5 display-6 bg-dark rounded-pill d-inline-block py-3 px-5 text-white">Collection Heading</p>
    <div class="row">

        {% for card in (1..2) %}
            {% for card in (1..6) %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-5 mx-auto" style="width: 18rem;">
                        {{ 'product-' | append: card | placeholder_svg_tag: 'card-img-top' }}
                        <div class="card-body">
                            <h5 class="card-title">150.00 QGT</h5>
                            <a href="#0"><p class="card-text h4 mb-3">Mochila de Viaje</p></a>
                            <a href="#" class="btn btn-warning">Ver detalles</a>
                        </div><!-- /card-body -->
                    </div><!-- /card -->
                </div><!-- /col-12 -->
            {% endfor %}
        {% endfor %}

    </div><!-- /row -->
</div><!-- /container -->