.card-img-top {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

#shopify-section-template--14429372612653__main_collection .card {
    height: 100%;
}

#productModal .modal-body *,
#productModal .modal-header * {
    color: #000;
}

#productModal .modal-header .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.object-fit-contain {
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}